body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E7DBFF;
}
h1 { 
    text-align: center;
}

h3{
    color: aqua;
}

.tweets{
    position: relative;
    width: 500px;
    height: 100px;
    
}


.container{
    position: relative;
    width: 1400px;
    height: 400px;
    margin: 240px auto;
}

.container .box{
    text-align: center;
    position: relative;
    width: calc(400px-30px);
    height: calc(300px-10px);
    background: #8F00FF;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.prediction{
    background-color: black;
    text-align: center;
    font-size: 1.5vw;
    width: 20%;
    transform: translateX(40vw);
    color: white;
    border-radius: 10px;
}

.news{
    text-align: center;
}

.news img{
    width: 50vw;
    border-radius: 10px;
}

.news h3{
    color: black;
}

.news p{
    font-size: 1vw;
    width: 50%;
    text-align: left;
    transform: translateX(25vw);
}